* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    max-width: 1400px;
    height: 820px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000000;
}

.header {
    display: flex;
    justify-content: end;
    padding-right: 200px;
    gap: 20px;
}

.header a {
    margin-top: 20px;
    letter-spacing: 0.19px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #72727A;
    text-decoration: none;
}

.header button {
    margin-top: 13px;
    margin-bottom: 200px;
    color: #000000;
    background-color: gray;
    border-radius: 5px;
    padding: 10px 5px;
    border-color: #8E8E98;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
}

.dekks {
    display: flex;
    gap: 15px;
    padding-left: 200px;
}

.dekks h4 {
    color: #ffffff;
    background-color: #000000;
    font-weight: 400;
    font-size: 22px;
    line-height: 30.8px;
    letter-spacing: 0%;
}

.dekks button {
    background-color: #742EFF;
    color: #000000;
    border-radius: 5px;
    border-color: #742EFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0%;
}

.big-title {
    padding-left: 200px;
}

.cilck {
    padding-left: 200px;
}

.big-title h1 {
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
    font-size: 112px;
    line-height: 112px;
    letter-spacing: 1.12px;
    margin-bottom: 200px;
}

.cilck input {
    width: 348px;
    height: 50px;
    opacity: 1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cilck button {
    width: 105px;
    height: 50px;
    opacity: 1;
    left: 348px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.38px;
    text-align: center;
    background-color: gray;
    color: #ffffff;
    padding: 13px;
}

.small-p p {
    margin-top: 16px;
    color: #47474C;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0%;
}

.small-p strong {
    margin-top: 16px;
    color: #8E8E98;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0%;
}

.btn button {
    margin-top: 90px;
    color: #1C1C1E;
    background-color: #8E8E98;
    font-weight: 400;
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 0%;
    border-radius: 8px;
    border-color: #8E8E98;
    padding: 5px;
}

.btn span {
    color: #000000A6;
    font-weight: 400px;
    font-size: 13px;
    line-height: 20.8px;
    letter-spacing: 0%;
    padding-right: 26px;
}

.btn {
    text-align: center;
}

.header-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    justify-content: end;
}